{
  "presets": [
    [
      "env",
      {
        "exclude": [
          "transform-es2015-for-of"
        ],
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "transform-for-of-as-array"
  ]
}
